@import url("styles/1-style.css");

body {
	color: var(--color-black);
}

a {
	color: var(--color-black);
}

.visually-hidden {
	display: none;
}

.card-category {
	color: var(--color-primary);
}
	
.section-tagline {
	color: var(--color-primary);
}