@import url("2-style.css");

:root {
	--color-primary: #d73953;
	--color-black: #090909;
	--color-white: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;
	--text-color: var(--color-black);

	/* Backwards-compatible aliases (some files reference these) */
	--color-text: var(--text-color);
	--color-light-grey: var(--color-light-grey);
	--color-dark-grey: var(--color-dark-grey);
}